.all-center{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
}

.calculator__screen{
    font-size: 16px;;
    width: 85%;
    height: 30px;
    margin-bottom: 30px;
    background: #fff;
    text-align: right;
}

.calculator{
    margin-top: 30px;
    width: 240px;
    background: #F3F3F3;
    padding: 27px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4,50px);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
  }

.button {
    display: inline-block;
    background: #fff;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    outline: none;
  }